// ABOUT ME SECTION STYLES

.about_blobs {
    width: 100%;
    position: relative;
    padding: 1rem;

    #blob-left-corner {
        position: absolute;
        width: 70%;
        transform: translateX(-180px);
        
        @media (min-width: 490px){
            transform: translateX(-150px);
        }
        @media (min-width: 1450px){
            width: 1250px;
        }
    } 
    
    #blob-left-corner-shadow {
        position: absolute;
        width: 60%;
        left: -160px;
        top: 25%;
        z-index: -1;
        @media (min-width: 1450px){
            width: 1250px;
            top: 20%;
        }
    }
}

.about_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    
    margin-top: 10rem;
    // el error
    //top: 150px;
    padding: 2rem;

    @media (min-width: 490px){
        flex-direction: row;
        justify-content: space-between;
    }

    @media (min-width: 1450px){
        margin-top: 15rem;
        padding: 5rem;
    }
    
    .about_profile-picture-wrapper{
        position: relative;
        .about_profile-picture {
            width: 28em;
            //box-shadow: 5px 5px 0px $secondary-color, -5px -5px 0px $secondary-color;
            @media(max-width: 490px){
                width: 15em;
            }
            @media (min-width: 1450px){
                width: 35em
            }
        }

        #horizontal-dots{
            position: absolute;
            width: 20%;
            left: 90%;
            top: -7%;
        }
        @media(min-width: 490px){
            order: 2;
        }
    }
    

    .about_text {
        font-family: 'Univa Nova', normal;
        
        @media(min-width: 490px){
            p{
                line-height: 1.75rem;
                max-width: 40ch;
            }
        }
        padding: 1rem;
        span {
            color: $cta-color;
        }

        p{
            margin-bottom: 2rem;
            font-size: 1.5rem;
            @media(max-width: 490px){
                font-size: 1rem;
            }
            @media (min-width: 1450px){
                font-size: 2.5rem;
                line-height: 2.75rem;
            }
        }
        .about__text_tagline{
            font-weight: bold;
            font-style: italic;

            svg{
                margin-left: .5rem;
            }
        }

        .about_stroke_scroll{
            position: absolute;
            top: 75%;
            left: 40%;
            width: 10%;
            z-index: 2;
        }

    }
}