// CONTACT SECTION
@import 'assets/mixins';

.contact__section{
    padding: 2rem;
    margin-top: 3.5rem;
    
    h2{
        text-align: center;
        font-family: 'aironedemo', normal;
    }
    .contact__form{
        position: relative;
        width: 100%;
        @include flexCenter(row);
        form{
            position: relative;
            width: 50%;
            margin-top: 2rem;
            min-width: 250px;
            max-width: 600px;
            .contact__form_control{
                margin-bottom: 1.8rem;
                position: relative;
            }
            input, textarea{
                position: relative;
                width: 100%;
                padding: .6rem;
                background-color: #020B1D;
                border-radius: 1rem;
                border: 2px solid #180D4D;

                color: $text-color;

                &:focus~label,&:valid~label{
                    top: -30px;
                    font-size: .8rem;
                }

                &:focus{
                    color: white;
                    
                }
            }
            .form__submit{
                width: 100%;
                
                padding: 1rem;
                background-color: $cta-color;
                color: $bg-color;
                border-radius: 2rem;
                border: none;
                box-shadow: 0 1px 10px #001D57, 0 1px 5px #2F1484;
                font-weight: bold;
                font-size: 1.2rem;
            }
            label{
                position: absolute;
                left: 1%;
                top: 0;
                opacity: .3;
                padding: .5rem;
                cursor: text;
                transition: .2s all ease-in-out;
            }
        }
    }    
    .contact__email{
        padding: 2rem;

        h2{
            margin-bottom: 1rem;
        }

        .email__container{
            display: flex;
            justify-content: center;
            width: 50%;
            max-width: 500px;
            min-width: 250px;
            margin: 0 auto;
            padding: .6rem;
            background-color: #020B1D;
            border-radius: 2rem;
            border: 2px solid #180D4D;
        }
    } 
}