// CONTACT SECTION
@import 'assets/mixins';

.contact__section{
    padding: 2rem 4rem 4rem 3rem;
    margin-top: 15.5rem;
    position: relative;
    
    h2{
        font-family: 'Clash Display', normal;
        font-size: 3rem;
        margin-bottom: 2rem;
        @media (max-width: 490px) {
            font-size: 1rem;
        }
    }

    .contact{
        display: flex;
        justify-content: space-around;
        

        .contact__info{
            width: 50%;
            margin-top: 2rem;
            p{
                font-family: 'Clash Display', normal;
                font-size: 1.8rem;
                max-width: 30ch;
            }

            .contact__dm{
                margin-top: 2rem;
                margin-bottom: 2rem;
                
                a{
                    margin-top: 1rem;
                }
                @media (max-width: 490px) {
                    margin-top: 8rem;
                }
                h2{
                    margin-bottom: 2rem;
                    font-family: 'Clash Display', normal;
                }
            }
            
            .contact__social-links{
                margin-top: .5rem;

                a{
                    margin-left: 1.5rem;
                    img{
                        @include transitionBack;
        
                        &:hover{
                            transform: translateY(-5px);
                            filter: drop-shadow(0 3px 5px $cta-color);
                        }
                    }

                    &:nth-child(1){
                        margin-left: 0;
                    }
                }

            }
        }

        .contact__form{
            position: relative;
            width: 50%;
            // @include flexCenter(row);
            form{
                position: relative;
                
                margin-top: 2rem;
                min-width: 250px;
                max-width: 600px;
                .contact__form_control{
                    margin-bottom: 2.3rem;
                    position: relative;
                }
                input, textarea{
                    position: relative;
                    width: 100%;
                    padding: .8rem;
                    background-color: #020B1D;
                    border-radius: 7px;
                    border: 2px solid #00a2ff32;
    
                    color: $text-color;
    
                    // &:focus~label,&:valid~label{
                    //     top: -30px;
                    //     font-size: .8rem;
                    // }
    
                    // &:focus{
                    //     color: white;
                        
                    // }
                }
                .form__submit{
                    @include transitionBackIn;
                    -webkit-appearance: none;
                    width: 100%;
                    
                    padding: 1rem;
                    background-color: $cta-color;
                    
                    color: $bg-color;
                    border-radius: 7px;
                    border: none;
                    box-shadow: 0 1px 10px #0037a4;
                    font-weight: bold;
                    font-size: 1.2rem;
    
                    cursor: pointer;
    
                    &:hover{
                        transform: translateY(-5px);
                        box-shadow: none;
                        // animation: colored 1s ease-in  infinite alternate forwards;
                    }
                }
                label{
                    font-family: 'Clash Display', normal;
                    position: absolute;
                    left: 0;
                    top: -30px;
                    opacity: .4;
                    padding: .5rem;
                    cursor: text;
                    transition: .2s all ease-in-out;
                }
            }
        }
    }
}