//Footer

@import 'assets/mixins';

footer {
  background: rgb(1,7,19);
  background: linear-gradient(180deg, $bg-color 0%, #020f29 100%);
  width: 100%;
  height: 200px;

  display: flex;
  @include flexCenter(column);


  .footer__content{
    position: relative;
    margin: 2rem 2rem;

    .footer__content_logo{
        position: relative;
        margin-bottom: 1rem;
        @include flexCenter(column);
        .logo{
            max-width: 3em;
        }
    }
    .footer__content_nav-links{
        .nav-links {
            @media (max-width: 650px) {
                display: none;
            }

            li {
                list-style: none;
                display: inline;
                margin-left: 2.5rem;

                a {
                position: relative;
                
                text-decoration: none;
                color: #e5e5e5;
                font-weight: bold;
                @include transitionBack;

                &:hover{
                    text-shadow: 0 3px 5px $primary-color;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 120%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0px;
                    height: 2.5px;

                    @include transitionBack;
                }

                &:hover::after {
                    background-color: $cta-color;
                    width: 75px;
                    top: 100%;
                    border-radius: 5px;
                }
            }
            }
        }
    }
    .footer__content_social-links{
        position: relative;
        a{
            margin-left: 1.5rem;
            img{
                @include transitionBack;

                &:hover{
                    transform: translateY(-5px);
                    filter: drop-shadow(0 3px 5px $primary-color);
                }
            }
        }
    }
  }
  .footer__author{
    position: relative;
    p{
        font-family: 'Univa Nova', normal;
        font-weight: 600;

        font-size: 0.7rem;
    }
  }

  @media (min-width: 650px) {
    @include flexCenter(column);

    .footer__content{
        width: 90%;
        @include flexCenter(row);
        justify-content: space-between;
        .footer__content_logo{
            margin: 0;
        }
        .footer__content_social-links{
            a{
                margin-left: 0.5rem;
            }
        }
    }
  }
}


