// HERO SECTION STYLES
@import 'assets/mixins';


header {
    font-family: 'Lato', sans-serif;
    position: relative;
    width: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // margin-left: 1.5rem;
    // margin-right: 1.5rem;
    // margin-top: 1rem;
    // margin-bottom: 1rem;

    padding: 2rem 3rem 2rem 3rem;

    .logo {
        max-width: 4em;
        cursor: pointer;
    }

    // .header_hamburger-menu {
    //     cursor: pointer;
    //     @media (min-width: 490px){
    //         display: none;
    //     }
    // }

    .hero__contact-button {
        @media (max-width: 490px) {
            display: none;

        }
    }



    #blob-right-corner {
        width: 80%;

        // responsive width
        // max-width: 60em;
        position: absolute;
        left: 60%;

        z-index: -1;

        filter: blur(40px);

        @media (min-width: 1450px){
            width: 1650px;
        }
    }

    #blob-stroke {
        position: absolute;
        width: 60%;
        max-width: 40em;
        left: 55%;
        top: .1%;
        z-index: -1;

        filter: blur(3px);
        @media (min-width: 1450px){
            width: 1650px;
        }
    }

    #blob-right-corner-shadow {
        width: 80%;
        position: absolute;
        left: 50%;
        overflow: hidden;
        z-index: -2;

        filter: blur(40px);
        @media (min-width: 1450px){
            width: 1650px;
        }
    }
}

.hero__section-headline {
    position: relative;
    // el bug mojoso
    // top: 2em;

    //original width 90%
    width: 100%;

    margin-top: 4rem;

    @include flexCenter(column);
    
    padding: 2rem;
    @media (max-width: 490px){
        margin-top: 5rem;
    }
    @media (min-width: 1550px){
        margin-top: 10rem;
    }
    h2 {
        
        margin-bottom: 1rem;

        font-family: 'Clash Display', normal;
        font-weight: 500;
        font-size: 4rem;

        // clip-path: polygon(22% 100%, 75% 100%, 100% 100%, 0% 100%);

        @media (max-width: 490px) {
            font-size: 1.5rem;
            text-align: center;
            font-family: 'Archivo', normal;
            font-weight: bold;
        }
        @media (min-width: 1550px){
            font-size: 3rem;
        }

        #designer{
            color: #9665FF;
            font-weight: 600;
        }

        #developer{
            color: #0055FF;
            font-weight: 600;
        }
    }

    .char{
        transform: translateY(100px);
        transition: transform .3s;
    }

    p{
        font-size: 2rem;
        font-weight: 600;
        @media (max-width: 490px) {
            font-size: 1rem;
        }
    }

    // span {
    //     color: $cta-color;
    //     background: linear-gradient(217deg, #2676ff, rgba(255,0,0,0) 70.71%),
    //                 linear-gradient(120deg, $cta-color, rgba(0,255,0,0) 70.71%),
    //                 linear-gradient(336deg, #2f25f1, rgba(0,0,255,0) 70.71%);

    //     background-clip: text;
    //     color: transparent;
    // }

    #blob-text-shadow {
        width: 30%;
        position: absolute;
        z-index: -1;

        filter: blur(1px);
    }

    #bubbles{
        max-width: 80%;
        position: absolute;
    }
}

.hero__cta-button {
    padding: 2rem;
    display: flex;
    justify-content: center;

    margin-top: 2.5rem;
}