// HERO SECTION STYLES
@import 'assets/mixins';


header {
    font-family: 'Lato', sans-serif;
    position: relative;
    width: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // margin-left: 1.5rem;
    // margin-right: 1.5rem;
    // margin-top: 1rem;
    // margin-bottom: 1rem;

    padding: 1rem;

    .logo {
        max-width: 4em;
        cursor: pointer;
    }

    // .header_hamburger-menu {
    //     cursor: pointer;
    //     @media (min-width: 490px){
    //         display: none;
    //     }
    // }

    .hero__contact-button {
        @media (max-width: 490px) {
            display: none;

        }
    }

    .hero__nav-links {
        @media (max-width: 490px) {
            display: none;
        }

        li {
            list-style: none;
            display: inline;
            margin-left: 2.5rem;

            a {
                position: relative;
                text-decoration: none;
                color: #e5e5e5;
                font-weight: bold;
                @include transitionCubic;

                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    width: 0px;
                    height: 2.5px;

                    @include transitionCubic;
                }

                &:hover::after {
                    background-color: $cta-color;
                    width: 60px;
                    border-radius: 5px;
                }
            }
        }
    }



    #blob-right-corner {
        width: 80%;

        // responsive width
        // max-width: 60em;
        position: absolute;
        left: 60%;

        z-index: -1;
    }

    #blob-stroke {
        position: absolute;
        width: 60%;
        max-width: 40em;
        left: 55%;
        top: .1%;
        z-index: -1;
    }

    #blue_cross {
        position: absolute;
        left: -140px;
        max-width: 1em;
    }

    #blue_cross2 {
        position: absolute;
        top: 100px;
        max-width: 1em;
    }

    #blob-right-corner-shadow {
        width: 80%;
        position: absolute;
        left: 50%;
        overflow: hidden;
        z-index: -2;
    }
}

.hero__section-headline {
    position: relative;
    

    // el bug mojoso
    // top: 2em;
    width: 90%;
    margin: 0 auto;
    @include flexCenter(column);
    padding: 3rem;
    h2 {
        margin-bottom: 2rem;
        // font-family: 'Bungee', cursive;
        font-family: 'aironedemo', normal;
        font-size: 2rem;
    }

    span {
        color: $cta-color;
    }

    #blob-text-shadow {
        width: 30%;
        position: absolute;
    }

    #blue_cross3 {
        position: absolute;
        right: 30px;
        width: 10%;
    }

    #blue_cross4 {
        position: absolute;
        left: 30px;
        top: 100%;
        width: 10%;
    }

    #dots {
        position: absolute;
        max-width: 3em;
        left: 40px;
        top: 10px;

        z-index: -1;
    }
}

.hero__cta-button {
    padding: 2rem;
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}