// PORTFOLIO SECTION
@import 'assets/mixins';

.portfolio__section{
    position: relative;
    background-color: $bg-color;
    padding: 2.5rem;
    
    #portfolio_water-mark{
        position: absolute;
        top: -50px;
        right: 1%;
        left: 1%;
        opacity: .1;
        color: $secondary-color;
        font-family: 'aironedemo', normal;
        font-size: 12em;
        letter-spacing: 0.150em;
        @media (max-width: 490px) {
            font-size: 5rem;
            top: 0;
        }
    }

    .portfolio__latest-work{
        position: relative;
        .portfolio__case_studies_wrapper{
            display: flex;
            justify-content: space-between;

            @media(max-width: 490px){
                flex-direction: column;
                align-content: center;
                justify-content: space-between;
                gap: 10%;
            }

            .portfolio__case_studies{
                width: 47%;
                min-width: 300px;
                max-width: 800px;
                margin-bottom: 2rem;


                .case_studies__img{
                    position: relative;
                    width: 100%;
                    border-radius: 10px;

                    &::after{
                        content: "";
                        position: absolute;
                        width: 500px;
                        background-color: rgba(0, 255, 255, 0.441);
                    }
                }
            }
        }
        h2{
            color: $text-color;
            margin-bottom: 3rem;
            font-family: 'Clash Display', normal;
            font-size: 2rem;
        }
    }
    .portfolio__cta-button{
        @include flexCenter(row);
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}