// PORTFOLIO SECTION
@import 'assets/mixins';

.portfolio__section{
    position: relative;
    background-color: $bg-color;
    padding: 2.5rem;
    
    #portfolio_water-mark{
        position: absolute;
        top: -50px;
        right: 1%;
        left: 1%;
        opacity: .1;
        color: $secondary-color;
        font-family: 'aironedemo', normal;
        font-size: 12em;
    }

    .portfolio__latest-work{
        position: relative;
        .latest-work__layout{
            display: flex;
            justify-content: space-between;

            @media(min-width: 490px){
                flex-direction: row;
                align-content: flex-start;
            }
        }
        h3{
            color: $secondary-light;
            margin-bottom: 3rem;
            font-family: 'aironedemo', normal;
        }
    }
    .portfolio__cta-button{
        @include flexCenter(row);
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}