.social-media_section{
    width: 100%;
    position: relative;
    background-color: $primary-color;


    .social-media_section-divider-top {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .social-media_section-divider-top svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }

    .social-media_section-divider-top .shape-fill {
        fill: #010713;
    }

    .social-media_section-divider-bottom {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .social-media_section-divider-bottom svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }

    .social-media_section-divider-bottom .shape-fill {
        fill: #010713;
    }

    .social-media_twitter-spot{
        padding: 2rem;

        h2{
            margin-bottom: 1.5rem;
            text-align: center;
        }

        p{
            text-align: center;
        }

        .twitter-spot_info{
            position: relative;
            background-color: $bg-color;
            border: 2px solid $secondary-color;
            padding: 2rem;
            margin-bottom: 2rem;
            max-width: 90%;

            

            #twitter-banner{
                position: relative;
                width: 90%;
                margin: 0 auto;
            }

            .twitter-spot_feed{
                padding: 1rem;
                font-size: .75em;
                li{
                    color: $secondary-color;
                    margin-bottom: .5rem;
                }
            }
            .twitter-spot_cta{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 85%;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                border: 2px solid $secondary-color;
                background-color: $bg-color;

               cursor: pointer;

                #twitter-logo{
                    width: 50%;
                }
            }
        }
    }
}