// colors

$bg-color: #01060f;
$bg-light: #010d24;
$primary-color: #001D57;
$secondary-color: #2F1484;
$secondary-light: #6820FF;
$cta-color: #00A1FF;
$tertiary-color: #01BCC9;


// font metrics
$text-color: #c4e6fa;
$font-sizes: (
    "mini": 0.8rem,
    "regular": 1rem,
    "medium": 1.5rem,
    "large": 2rem
);



// break points

$phone-size: 480px;
$phone-landscape-size: 812px;
$tablet-size: 834px;
$tablet-landscape-size: 1194px;
$laptop-size: 1024px;
$large-screen: 1200px;
$extra-large-screen: 1920px;