
@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('~assets/fonts/clash-display-web-kit/ClashDisplay-Variable.woff2') format('woff2'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Variable.woff') format('woff'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('~assets/fonts/clash-display-web-kit/ClashDisplay-Extralight.woff2') format('woff2'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Extralight.woff') format('woff'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Light';
    src: url('~assets/fonts/clash-display-web-kit/ClashDisplay-Light.woff2') format('woff2'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Light.woff') format('woff'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('~assets/fonts/clash-display-web-kit/ClashDisplay-Regular.woff2') format('woff2'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Regular.woff') format('woff'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('~assets/fonts/clash-display-web-kit/ClashDisplay-Medium.woff2') format('woff2'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Medium.woff') format('woff'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('~assets/fonts/clash-display-web-kit/ClashDisplay-Semibold.woff2') format('woff2'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Semibold.woff') format('woff'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('~assets/fonts/clash-display-web-kit/ClashDisplay-Bold.woff2') format('woff2'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Bold.woff') format('woff'),
         url('~assets/fonts/clash-display-web-kit/ClashDisplay-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }









@font-face {
    font-family: 'Archivo-Variable';
    src: url('~assets/fonts/archivo-web-kit/Archivo-Variable.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-Variable.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-Variable.ttf') format('truetype');
         font-weight: 100 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  /**
  * This is a variable font
  * You can controll variable axes as shown below:
  * font-variation-settings: 'wght' 600.0;
  *
  * available axes:
  
  * 'wght' (range from 100.0 to 900.0)
  
  */
  
  @font-face {
    font-family: 'Archivo-VariableItalic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-VariableItalic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-VariableItalic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-VariableItalic.ttf') format('truetype');
         font-weight: 100 900;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Archivo-Thin';
    src: url('~assets/fonts/archivo-web-kit/Archivo-Thin.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-Thin.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-Thin.ttf') format('truetype');
         font-weight: 100;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Archivo-ThinItalic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-ThinItalic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-ThinItalic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-ThinItalic.ttf') format('truetype');
         font-weight: 100;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Archivo-ExtraLight';
    src: url('~assets/fonts/archivo-web-kit/Archivo-ExtraLight.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-ExtraLight.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-ExtraLight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Archivo-ExtraLightItalic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-ExtraLightItalic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-ExtraLightItalic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-ExtraLightItalic.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Archivo-Light';
    src: url('~assets/fonts/archivo-web-kit/Archivo-Light.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-Light.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Archivo-LightItalic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-LightItalic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-LightItalic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Archivo-Regular';
    src: url('~assets/fonts/archivo-web-kit/Archivo-Regular.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-Regular.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Archivo-Italic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-Italic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-Italic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Archivo-Medium';
    src: url('~assets/fonts/archivo-web-kit/Archivo-Medium.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-Medium.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Archivo-MediumItalic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-MediumItalic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-MediumItalic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Archivo-SemiBold';
    src: url('~assets/fonts/archivo-web-kit/Archivo-SemiBold.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-SemiBold.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-SemiBold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Archivo-SemiBoldItalic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-SemiBoldItalic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-SemiBoldItalic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-SemiBoldItalic.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Archivo-Bold';
    src: url('~assets/fonts/archivo-web-kit/Archivo-Bold.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-Bold.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Archivo-BoldItalic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-BoldItalic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-BoldItalic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Archivo-ExtraBold';
    src: url('~assets/fonts/archivo-web-kit/Archivo-ExtraBold.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-ExtraBold.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-ExtraBold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Archivo-ExtraBoldItalic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-ExtraBoldItalic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-ExtraBoldItalic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-ExtraBoldItalic.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Archivo-Black';
    src: url('~assets/fonts/archivo-web-kit/Archivo-Black.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-Black.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Archivo-BlackItalic';
    src: url('~assets/fonts/archivo-web-kit/Archivo-BlackItalic.woff2') format('woff2'),
         url('~assets/fonts/archivo-web-kit/Archivo-BlackItalic.woff') format('woff'),
         url('~assets/fonts/archivo-web-kit/Archivo-BlackItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }















/* Airone font face */

/* @font-face {
    font-family: "aironedemo";
    src: local("aironedemo")
        url('~assets/fonts/airone-web-kit/aironefont-demo.woff2') format('woff2'),
        url('~assets/fonts/airone-web-kit/aironefont-demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'aironedemo';
    src: url('~assets/fonts/airone-web-kit/aironefont-demo.woff2') format('woff2'),
         url('~assets/fonts/airone-web-kit/aironefont-demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Univa Nova font face */

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-BoldItalic.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('~assets/fonts/univa-nova-web-kit/UnivaNova-BoldItalic.woff2') format('woff2'),
         url('~assets/fonts/univa-nova-web-kit/UnivaNova-BoldItalic.woff') format('woff'),
         url('~assets/fonts/univa-nova-web-kit/UnivaNova-BoldItalic.svg#UnivaNova-BoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Bold.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Bold.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Bold.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Bold.svg#UnivaNova-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-ThinItalic.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-ThinItalic.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-ThinItalic.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-ThinItalic.svg#UnivaNova-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Regular.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Regular.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Regular.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Regular.svg#UnivaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBoldItalic.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBoldItalic.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBoldItalic.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBoldItalic.svg#UnivaNova-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Medium.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Medium.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Medium.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Medium.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Medium.svg#UnivaNova-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBold.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBold.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBold.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-SemiBold.svg#UnivaNova-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-MediumItalic.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-MediumItalic.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-MediumItalic.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-MediumItalic.svg#UnivaNova-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Italic.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Italic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Italic.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Italic.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Italic.svg#UnivaNova-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Light.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Light.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Light.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Light.svg#UnivaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-HeavyItalic.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-HeavyItalic.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-HeavyItalic.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-HeavyItalic.svg#UnivaNova-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-LightItalic.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-LightItalic.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-LightItalic.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-LightItalic.svg#UnivaNova-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova Hairline';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Hairline.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Hairline.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Hairline.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Hairline.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Hairline.svg#UnivaNova-Hairline') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova Hairline';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-HairlineItalic.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-HairlineItalic.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-HairlineItalic.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-HairlineItalic.svg#UnivaNova-HairlineItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Thin.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Thin.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Thin.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Thin.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Thin.svg#UnivaNova-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Heavy.eot');
    src: url('~assets/fonts/univa-nova-web-kit/UnivaNova-Heavy.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Heavy.woff2') format('woff2'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Heavy.woff') format('woff'),
        url('~assets/fonts/univa-nova-web-kit/UnivaNova-Heavy.svg#UnivaNova-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}