// ABOUT ME SECTION STYLES

.about_blobs {
    width: 100%;
    position: relative;

    #blob-left-corner {
        position: absolute;
        max-width: 20em;

        left: -170px;
    }

    #blob-left-corner-shadow {
        position: absolute;
        max-width: 20em;
        z-index: -1;

        left: -165px;
        top: 15px;
    }
}

.about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 150px;
    padding: 2rem;

    

    .about_profile-picture {
        width: 15em;
        //box-shadow: 5px 5px 0px $secondary-color, -5px -5px 0px $secondary-color;
        border: 3px solid $secondary-color;
        margin-bottom: 2rem;
    }

    .about_text {
        padding: 1rem;
        span {
            color: $cta-color;
        }

        p{
            margin-bottom: 2rem;
        }

    }
}