// CONTACT SECTION

.contact_section{
    padding: 2rem;
    margin-top: 2rem;
    h2{
        text-align: center;
    }

    .contact_form{

        display: flex;
        align-items: center;
        justify-content: center;
        form{
            margin-top: 2rem;
            width: 90%;
            .contact-form_control{
                margin-bottom: 1.8rem;
                position: relative;
            }
            input, textarea{
                width: 100%;
                padding: .6rem;
                background-color: #020B1D;
                border-radius: 1rem;
                border: 2px solid #180D4D;

                &:focus~label,&:valid~label{
                    top: -30px;
                    font-size: .8rem;
                }

                &:focus{
                    color: white;
                    
                }
            }

            label{
                position: absolute;
                left: 5%;
                top: 0;
                opacity: .3;
                padding: .5rem;
                cursor: text;
                transition: .2s all ease-in-out;
            }

            button{
                width: 100%;
                padding: 1rem;
                background-color: $cta-color;
                color: $bg-color;
                border-radius: 2rem;

                box-shadow: 0 2px 10px #001D57, 0 1px 5px #2F1484;

                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }     
}