// HERO SECTION STYLES


header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;


    .logo {
        max-width: 3em;
        
        cursor: pointer;
    }

    .wrapper {
        position: relative;

        .fries_menu {
            cursor: pointer;
        }



        #blob-right-corner {
            position: absolute;
            top: -155px;
            left: -140px;
            max-width: 20em;

            z-index: -1;
        }

        #blob-stroke {
            position: absolute;
            max-width: 17em;
            left: -150px;
            top: -30px;

            z-index: -1;
        }

        #blue_cross {
            position: absolute;
            left: -140px;
            max-width: 1em;
        }

        #blue_cross2{
            position: absolute;
            top: 100px;
            max-width: 1em;
        }

        #blob-right-corner-shadow {
            position: absolute;
            top: -165px;
            left: -170px;
            max-width: 22em;

            z-index: -2;
        }
    }
}

.hero_text-headline {
    position: relative;
    top: 2em;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 2rem;

    h2{
        margin-bottom: 2rem;
    }

    span {
        color: $cta-color;
    }

    #blob-text-shadow{
        max-width: 10em;
        position: absolute;
    }

    #blue_cross3{
        position: absolute;
        max-width: 1em;
        right: 30px;
    }

    #blue_cross4{
        position: absolute;
        left: 30px;
        top: 100%;
        max-width: 1em;
    }

    #dots{
        position: absolute;
        max-width: 2em;
        left: 40px;
        top: 10px;

        z-index: -1;
    }
}

.hero_cta-button {
    padding: 2rem;
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}