// HERO SECTION STYLES


header {
    position: relative;
    width: auto;

    

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;


    .logo {
        max-width: 4em;
        
        cursor: pointer;
    }

    .header_hamburger-menu {
            cursor: pointer;
        }



    #blob-right-corner {
        width: 80%;
        position: absolute;
        left: 60%;

        z-index: -1;
    }

    #blob-stroke {
        position: absolute;
        width: 60%;
        left: 55%;
        top: .1%;
        z-index: -1;
    }

    #blue_cross {
        position: absolute;
        left: -140px;
        max-width: 1em;
    }

    #blue_cross2{
        position: absolute;
        top: 100px;
        max-width: 1em;
    }

    #blob-right-corner-shadow {
        width: 80%;
        position: absolute;
        left: 50%;
        overflow: hidden;
        z-index: -2;
    }
}

.hero_text-headline {
    position: relative;
    // top: 2em;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 2rem;

    h2{
        margin-bottom: 2rem;
    }

    span {
        color: $cta-color;
    }

    #blob-text-shadow{
        width: 30%;
        position: absolute;
    }

    #blue_cross3{
        position: absolute;
        max-width: 1em;
        right: 30px;
    }

    #blue_cross4{
        position: absolute;
        left: 30px;
        top: 100%;
        max-width: 1em;
    }

    #dots{
        position: absolute;
        max-width: 3em;
        left: 40px;
        top: 10px;

        z-index: -1;
    }
}

.hero_cta-button {
    padding: 2rem;
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}