.social-media_section{
    width: 100%;
    position: relative;
    background-color: $primary-color;


    #wave-top{
        width: 100%;
    }

    #wave-bottom{
        
        width: 100%;
    }

    .social-media_twitter-spot{
        padding: 2rem;

        h2{
            margin-bottom: 1.5rem;
            text-align: center;
        }

        p{
            text-align: center;
        }

        .twitter-spot_info{
            background-color: $bg-color;
            border: 2px solid $secondary-color;
            padding: 2rem;
            margin-bottom: 2rem;
            max-width: 90%;

            #twitter-banner{
                width: 90%;
            }

            .twitter-spot_feed{
                padding: 1rem;
                font-size: .75em;
                li{
                    color: $secondary-color;
                    margin-bottom: .5rem;
                }
            }
            .twitter-spot_cta{
                width: 35%;
                border-radius: 50%;
                border: 2px solid $secondary-color;
                background-color: $bg-color;

                #twitter-logo{
                    width: 50%;
                }
            }
        }
    }
}