.social-media_section{
    width: 100%;
    position: relative;
    background-color: $primary-color;


    #wave-top{
        width: 100%;
    }

    #wave-bottom{
        
        width: 100%;
    }

    .social-media_spot-twitter{
        padding: 2rem;

        h2{
            margin-bottom: 1.5rem;
            text-align: center;
        }

        .spot-twitter_banner{
            background-color: $bg-color;
            border: 2px solid $secondary-color;
            padding: 2rem;
            max-width: 90%;

            #twitter-banner{
                width: 90%;
            }
        }
    }
}